<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/resources :: head('Pizza Details')"></head>
<body>
<!-- Attributi: Pizza pizza-->
<div class="container">


    <h1 class="text-danger pt-3 mb-3"> Pizza details</h1>


    <div class="card" style="width: 18rem;">
        <img th:src="@{${pizza.photo}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${pizza.name}">Card title</h5>
            <p class="card-text" th:text="${pizza.description}">.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="${pizza.price}">An item</li>
        </ul>
    </div>


    <h3 class="mt-4">Ingredients</h3>
    <div class="alert alert-info" th:if="${pizza.ingredients.size() ==0}"> The list is empty</div>
    <ul>
        <li th:each="ingr : ${pizza.ingredients}" th:text="${ingr.name}"></li>
    </ul>

    <div class="d-flex justify-content-center">
        <a th:href="@{/ingredients/create(pizzaId=${pizza.id})}" class="btn btn-success">Add ingredient</a>
    </div>


    <h4 class="mt-5 mb-2">Special discounts!</h4>

    <div class="alert alert-info mt-2" th:if="${pizza.discounts.size() == 0}">
        No discounts available for this pizza
    </div>

    <table class="table" th:if="${pizza.discounts.size() > 0}">
        <thead>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>Expire Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="discount : ${pizza.discounts}">
            <td th:text="${discount.title}"></td>
            <td th:text="${discount.startDate}"></td>
            <td th:text="${discount.expireDate}"></td>
            <td class="d-flex justify-content-between">
                <a th:href="@{/discounts/edit/{id}(id=${discount.id})}" class="btn btn-primary"> Edit </a>
                <form
                        th:action="@{/discounts/delete/{id}(id=${discount.id})}"
                        method="post"
                        onsubmit="return confirm('Are you sure?')"
                >
                    <button type="submit" class="btn btn-danger"> Delete</button>


                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <a th:href="@{/discounts/create(pizzaId=${pizza.id})}" class="btn btn-success">Add discount</a>
    </div>


    <!--
    <p th:text="${pizza.name}"></p>
    <p th:text="${pizza.description}"></p>
    <p th:text="${pizza.price}"></p>
    <div>
        <img th:src="@{${pizza.photo}}" alt=" " class="w-25">
    </div>
    -->
    <hr>
    <a class="btn btn-primary" th:href="@{/pizzas}" role="button"> Back to pizza list</a>
</div>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>